.header {
  background-color: #161a1d;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 5rem;
  padding: 0.5rem 2rem;
  /* justify-items: flex-end; */
}

.nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.navbarlist {
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
  list-style: none;
  color: #fff;
}

.navlist:hover {
  color: #9b5de5;
  cursor: pointer;
}

/* .avatar {
  margin-left: 3rem;
} */
